.interfaces {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info{
  width: 90%;
  font-size: 16px;
  margin-bottom: 15px;
}
.info p{
  font-size: 18px;
}

.navig{
  width: 90%;
}
.navig a{
  margin-right: 10px;
  text-decoration: underline;
}




article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
article h1 {
  font-size: 26px;
  margin-bottom: 10px;
}
article ol {
  width: 90%;
  list-style: decimal;
}

article ol > li {
  margin-bottom: 15px;
}

article ol > li > h2{
  font-size: 18px;
  margin-bottom: 15px;
}

article ol li ul {
  list-style: inside;
}